<client >
  <!--<endpoint address="http://sapservice.ikco.com/Iseikco/IseikcoService.svc"
  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIseikcoService"
  contract="Ikco1.IIseikcoService" name="BasicHttpBinding_IIseikcoService" />
  -->
  <endpoint address="http://localhost:8010/RouterService"
          binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
          contract="ISE.SM.Common.Contract.IAuthenticationService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IAuthenticationService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
           binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
           contract="ISE.SM.Common.Contract.IAuthorizationService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IAuthorizationService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
         binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
         contract="ISE.SM.Common.Contract.IGroupService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IGroupService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
         binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
         contract="ISE.SM.Common.Contract.IManagementService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IManagementService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
         binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
         contract="ISE.SM.Common.Contract.IMembershipProviderService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IMembershipProviderService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
         binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
         contract="ISE.SM.Common.Contract.IPermissionService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IPermissionService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
         binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
         contract="ISE.SM.Common.Contract.IResourceService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IResourceService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
         binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
         contract="ISE.SM.Common.Contract.IRoleService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IRoleService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
        binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
        contract="ISE.SM.Common.Contract.ISecurityUserService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/ISecurityUserService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>

  <endpoint address="http://localhost:8010/RouterService"
        binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
        contract="ISE.SM.Common.Contract.IDataService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IDataService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
        binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
        contract="ISE.SM.Common.Contract.IApplicationDomainService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IApplicationDomainService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
       binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
       contract="ISE.SM.Common.Contract.IOperationService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/IOperationService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <endpoint address="http://localhost:8010/RouterService"
       binding="wsHttpBinding" bindingConfiguration="IseWsHttpEndpointBinding"
       contract="ISE.SM.Common.Contract.ISecurityCompanyService"  behaviorConfiguration="IseServiceBehavior">
    <headers>
      <Route
        xmlns="http://www.iseikco.com/Sec/ISecurityCompanyService" >
      </Route>
    </headers>
    <identity>
      <!--<dns value="ps.com"/>-->
      <dns value="localhost"/>
    </identity>
  </endpoint>
</client>